{{ define "main" }}
<div class = "container homepage-container">
    <div class="homepage-centered">
        <!-- Navigation Menu -->
        <nav class="homepage-nav">
            <div class="homepage-nav-links">
                <a href="/" class="homepage-nav-link {{ if eq .RelPermalink "/" }}active{{ end }}">home</a>
                <a href="/posts/" class="homepage-nav-link {{ if eq .RelPermalink "/posts/" }}active{{ end }}">blog</a>
                <a href="/cv/" class="homepage-nav-link {{ if eq .RelPermalink "/cv/" }}active{{ end }}">cv</a>
                <a href="/contatti/" class="homepage-nav-link {{ if eq .RelPermalink "/contatti/" }}active{{ end }}">contatti</a>
            </div>
        </nav>
        <!-- Centered Profile Section -->
        <div class="profile-section">
            <div class="profile">
                <img src="{{ .Site.Params.profilePhoto | default "/images/pfp.jpg" }}" alt="Profile Photo" class="profile-photo">
            </div>
            <div class="profile-description">
                <p> {{ .Site.Params.profileDescription | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris." | markdownify }} </p>
            </div>
        </div>
    </div>
</div>

{{ end }}