{{ define "main" }}
<div class="container">
    <article class="single-post">
        <header class="post-header">
            <h1>{{ .Title }}</h1>
            {{ if not .Date.IsZero }}
            <div class="post-meta">
                <time>{{ partial "date-italian.html" .Date }}</time>
                {{ with .Params.tags }}
                <span class="tags">| Tags: {{ delimit . ", " }}</span>
                {{ end }}
            </div>
            {{ else }}
            {{ with .Params.tags }}
            <div class="post-meta">
                <span class="tags">Tags: {{ delimit . ", " }}</span>
            </div>
            {{ end }}
            {{ end }}
        </header>

        <div class="post-content">
            {{ $content := .RawContent }}
            {{ $content = replaceRE "`#!([a-z]+) ([^`]+)`" "{{< inlinecode $1 >}}$2{{< /inlinecode >}}" $content }}
            {{ $content | .RenderString }}
        </div>
    </article>
</div>
{{ end }}
